/*RECTANGLE* - Верхняя часть макета с навигацией*/
.page {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.page__header_grey {
    background-color: #F6F2F2;
}
.page__intro_grey{
    background-color: #F6F2F2;
}
/*HEADER*/

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background: #000000;
}
.header__navigation {
    display: flex;
    flex-wrap: wrap;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none; 
    padding: 0; 
    margin: 0;

}
.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;

}
.menu__item:hover {
    background-color: #FF3F40;
}
.menu__link { 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #E0E0E0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
/*INTRO*/

.page__content {
    flex-grow: 1;
}
.intro {
    padding-top: 102px;
    padding-bottom: 94px;
}
.intro__content {
    position: relative;
    bottom: -28px;
    width: 616px;
    margin-bottom: 102px;
    margin-right: 74px;
}
.intro__heading {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}
.intro__text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;
    max-width: 520px;
    margin-bottom: 50px;
    font-weight: 200;
    margin-top: 36px; 
    
}
.action-button {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: inline-block;
    width: 228px;
    height: 56px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

.action-button_button_red {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF2D2D;
}
.intro__link {
    bottom: -40px;
    position: relative;
}
.intro__image {
    width: 554px;
    height: 360px;
}
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px; 
    margin: 0 auto;
    padding: 1vw;
    padding-right: 1vw;
}
/*SERVICES - левая часть макета с перечислением сервисов компании*/
.services{
    padding-top: 106px; /*отступ от RECTANGLE- Верхняя часть макета с навигацией*/
    padding-bottom: 52px; /*что бы поле с сервисами было более растянуто*/
    border-bottom: 5px solid #ECECEC ; /*полоса под секцией solid прямая шириной 5px и цвет #ECECEC*/
}
.services__lead {
    flex: 1 1 502px; /*первый и второй показатель говорит что элемент может разширяться и сжиматься, 
    а третий задает ширину до всего остального*/
    max-width: 502px;
    margin-bottom: 50px; /*выравнивание*/
    margin-right: 50px; /*выравнивание*/
}
.services__heading {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 6px;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-size: 42px;
}
.services__text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;
    margin-bottom: 50px;
}
.action-button_white {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FF2D2D;
    background-color: #FFFFFF;
    border: 2px solid #FF0000;
}
.services__blocks {
    flex: 1 1;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
}
/*SERVICE - правая часть макета с перечислением сервисов компании*/
.service {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
    margin-left: 16px;
}
.service__heading {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 600; /*жирный шрифт*/
    font-size: 24px;
    margin-bottom: 12px;
}
.service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 22px;
}
.service_text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;
}
.service__heading_manage::before {
    content: url('../images/Management.png');
}
.service__heading_UX::before {
    content: url('../images/UIUXDesign.png');
}
.service__heading_logo::before {
    content: url('../images/LogoBranding.png');
}
.service__heading_anima::before {
    content: url('../images/Animation.png');
}
/*FEATURE PRODUCTS*/
.feature {
    padding-top: 104px;
    padding-bottom: 52px;
}
.feature__header {
    width: 100%;
    text-align: center;
    margin-bottom: 66px; /*расстояние от соседних элементов*/
}
.feature__heading {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-transform: uppercase; /*заголовок заглавными буквами*/
    padding-left: 14px; /*выравнить заголовок*/
    margin-bottom: 16px;
}
.feature__taxt {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    max-width: 550px;
    margin: 0 auto 30px; /*отступ от заголовка*/
}
.header__line { /* как сделать hr цвет: https://www.w3schools.com/howto/howto_css_style_hr.asp */
    border: 1px solid #FF2D2D; 
    width: 134px;
    max-height: 4px;
}
.products__filter {
    width: 100%;
    list-style: none; /*список без точек*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /*элементы списка в строчку (по умолчанию они в столбик)*/
    justify-content: center; /*все пункты в списке посередине (пока слитно)*/
    margin-bottom: 60px; /*отступ списка от красной полосы*/
}
.products__link {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase; /*заголовок заглавными буквами*/
    position: relative; 
    left: 46px;
    color: #000000;
    margin-right: 56px; /*все пункты в списке разделены между собой*/
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
}
.products__link_active {
    color: #FF2D2D;
    opacity: 1; /*показывает на каком пункте находится пользователь*/
}
.products__link:hover { /*при наведении на пункт меню они окрашиваются в красный*/
    color: #FF2D2D;
}
.products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /*все картинки разделены между собой*/
    flex-wrap: wrap;
}
.product {
    flex: 1 1 24%; /*24% нужны для адаптива*/
    max-width: 298px; /*картинки будут одного размера*/
    height: 292px;
    margin-bottom: 18px; /*расстояние между картинками*/
    object-fit: cover; /* https://developer.mozilla.org/ru/docs/Web/CSS/object-fit 
    Изменение размера контента (картинки в данном случае); cover будет квадрат*/
}
.product:hover {
    cursor: pointer; /*при наведении курсора выделяется*/
    max-width: 400px; /*при наведении курсора становится больше в размере*/
    /*animation-duration: 4s;*/
}
/* Анимация https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations
https://www.w3schools.com/css/css3_animations.asp*/
